* {
    padding: 0;
    font-family: 'newFont';

}
@font-face { 
    font-family: 'newFont';
    src: url(../src/fonts/Loobster_nice/Lobster-Regular.ttf);
}

body { 
    background-color: #292825
    
}


#logo_headerId{
    width: 50px;
    height: 50px;
}
#content_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

header{
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
    margin: 2em;
    padding: 10px;
    /* filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5)); */
}
h1 {
    font-size: 25pt;
    color: #b68809;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));

}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none; 
    padding: 0; 
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));

    
  }
a {
    text-decoration: none;
    font-size: 10pt;
    color: #b68809;
}

a:hover {
    color: #f2f2f2;
    
}
/* Mainpage start */
#mainBGId{
    border: 3px solid #b68809;
    width: 22em;
    margin-bottom: 2em;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}
#CharMeranoId{
    z-index: 999;
    background-color: red;
}


/* news section */
#main2Id{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#main3Id{
    display: flex;
    flex-wrap: wrap;
}

/*  */
#newsImage1Id, #newsImage2Id, #newsImage3Id, #newsImage4Id{
    width: 18em;
    height: auto;
    border: 1.5px solid #b68809;
    margin: 0 60px 0 60px;

    /* border-radius: 20px; */
    /* border: 5px groove black; */
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}
#news1Content, #news2Content, #news3Content,  #news4Content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.6); */
    margin-bottom: 20px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}
#newsText1Id, #newsText2Id, #newsText3Id, #newsText4Id{
    color: #b68809;
    font-size: 15pt;
    margin: 0 20px 0 20px;
    text-align: center;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

/* mediaqury für desktop */

@media screen and (min-width: 980px){

    
    /* Header start */
    #logo_headerId{
        width: 110px;
        height: 110px;
    }

    header{
        height: 140px;
        margin-bottom: 2em;
    }
    h1{
        position: relative;
        left: 150px;
        font-size: 60pt;
    }
    .menu_header
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        

    }
    ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 4em;

    }
    a{
        font-size: 20pt;
        margin-right: 2em;


    }

    /* Header end */

    /* mainbG and news section */
    #mainBGId{
        width: 50%;
        

    }

    #main2Id{
        margin: 30px auto;
        display: flex;
        flex-direction: row;
    }




}   



